<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Database</title>
</head>
<body>
<form action = "{% url 'superheroes:create_new_superhero' %}" method = "post">
    {% csrf_token %}
    Superhero_name:<input type="text" name="superhero name" id="superhero name"><br>
    Alter_ego:<input type="text" name="alter ego" id="alter ego"><br>
    Primary_ability:<input type="text" name="primary ability" id="primary ability"><br>
    Secondary_ability:<input type="text" name="secondary ability" id="secondary ability"><br>
    Catchphrase:<input type="text" name="catchphrase" id="catchphrase"><br>
    <input type="submit" value="Add new hero">
</form>

</body>
</html>